.validation label.error{
	color: red;
	font-size: 15px;
	display: block;
	margin-top: 5px;
}
.validation label.error.fail-alert{
	line-height: 1;
	padding: 2px 0 6px 6px;
}
.validation input.valid.success-alert, textarea.valid.success-alert, select.valid.success-alert{
	border: 2px solid green;
	color: green;
}
.validation input.error, textarea.error, select.error{
	border: 1px dashed red;
	font-weight: 300;
	color: red;
}